{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une promotion</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Creer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('promotion_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
