{# empty Twig template #}

{% for listpromo in sectionText %}
    
                 <div class="container promo">
                     <a href="{#Lien vers tronbinoscop#}">
                        <div class="entetePromo">
                                {# Recup le num de promotion #}
                                <p> Promotion {{listpromo.numero}}</p>
                                
                        </div>
                          
                 </div>
             {% endfor %}