<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BeWeb{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <nav>
                <ul>
                    <li>Ecole</li>
                    <li>Concept</li>
                    <li>Partenaires</li>
                    <li>Inscription</li>
                    <li>Contact</li>
                    <li>Promos</li>
                </ul>
            </nav>
            
            <div class="container">
                <section>
                    <h2>Ecole</h2>
                </section>
                
                <section>
                    <h2>Concept</h2>
                </section>
                
                <section>
                    <h2>Partenaires</h2>
                </section>
                
                <section>
                    <h2>Inscription</h2>
                </section>
                <section>
                    <h2>Contact</h2>
                </section>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>