body{
    background-color: $font-color;
    font-family: $police;
}
.carousel-inner div img{
    width: auto; 
    margin: auto;
    /*height: 100%;*/
}

footer{
    text-align: center;
    margin: 30px 30px 30px 30px;
}

section {
    text-align: center;
    box-shadow: 1px 1px 15px;
    /*background-color: #009999;*/
}

ul{
    list-style: none;
    width: 100%;
}

.container-fluid{
    margin: 25px;
    margin-top: 50px;
    
}

h2{
    margin: 0px;
    background-color: #E50100;
    font-size: 40px;
    font-family: $policetitre;
    /*    border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: left;*/
    color: #eee;
    padding: 7px;
}

.navbar{
    margin-bottom: 0px;
}

.paragraphe{
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    white-space: pre-line;
}

.btn{
    margin: 15px;
    background-color: #eee;
    transition-duration: 1s;
}
.btn:hover{
    background-color: #E50100;
    color:white;
    transition-duration: 1s;
}
.ecole{
    margin-top: 72px;
}
.texteHome{
    background-color: #ddd;
    padding: 0;
}

.insctrip{
    position: absolute;
}
.insctrip>p{
    text-align:center;
    padding: 5px;
}

/*.border{
    border-style: solid;
    border-width: 2px;
    border-color: #850606;
    border-radius: 10px;
}*/
.margin{
    margin-bottom: 20px;
}

.texte{
    text-align: justify;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.visibilyty{
    visibility: hidden;
}

.positionform{
    padding-top: 18px;
}
.paddingPartenaire{
    padding-left: 30px;
    padding-right: 30px;
}
.navbar{
    margin-bottom: 0;
}