.promo{
    background-color: $colortitle;
}    

.entetePromo{
    background-color: $colortitle ;
    display: flex;
    justify-content: space-between; 
}  

.promoDate{
    background-color:$colortitle; 
    display: inherit;
} 

.modifMarging{
    margin-bottom: 50px
}
