/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 janv. 2017, 12:18:50
    Author     : ludovic-castro
*/


section {
    text-align: center;
 /*background-color: red;*/

}

ul{
    list-style: none;
    width: 100%;
}

.container-fluid{
   
    padding-bottom: 20px;
}


h2{
    margin: 0px;
    background-color: $colortitle;
}
.navbar{
    margin-bottom: 0px;


}

.paragraphe{
    padding: 20px 20px 60px 20px;
}

footer{
    text-align: center;
    margin: 30px 30px 30px 30px;
}

body{
    background-color: $font-color;
    font-family: $police;
}


.promo{
    background-color: #FFFFFF;
}    
.entetePromo{
    background-color: #FFFFFF ; display: flex; justify-content: space-between 
}  
.promoDate{
    background-color:#FFFFFF; display: inherit;
} 

.promolien{
   text-decoration: none;
   
}