.promo{
    background-color: $colortitle;
    img {
        margin-left: auto;
        margin-right: auto;
    }
    a{
        padding: 20px;
    }
}    

.entetePromo{
    background-color: $colortitle ;
    display: flex;
    justify-content: space-between; 
}  

.promoDate{
    background-color:$colortitle; 
    display: inherit;
} 

.modifMarging{
    margin-bottom: 50px;
}
